body {
    background-color: #EEEDF5;
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
}




/*cabeçalho*/
header {
    background-color: #050539;
    width: 100%;
    height: 10%;
    position: fixed;
}

.localização,
.inicio {
    padding-left: 40px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    float: right;
    padding-top: 22px;
}

#btnLogin {
    float: right;
    padding-left: 40px;
    color: white;
    background-color: #050539;
    border: none;
    text-align: center;
    padding-top: 15px;
    padding-right: 20px;
    cursor: pointer;
}





/*Corpo da página*/
section {
    margin-top: 0px;
    padding-top: 30px;

}

#container {
    height: 82.22px;
    width: 75%;
    background-color: #312E59;
    border-radius: 10px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    box-shadow: 0px 5px 5px rgba(48, 48, 48, 0.578);
}

h1 {
    padding-left: 3%;
    padding-top: 20px;
    font-size: 36px;
    font-weight: bold
}

#texto {
    color: #312E59;
    margin-left: 12.5%;
    padding-top: 25px;
    font-weight: bold;
}

#container2 {
    height: auto;
    width: 75%;
    background-color: #DCDBE5;
    border-radius: 8.39px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

table {
    width: 100%;
    font-size: large;
    cursor: default;
}


tr {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr 0.5fr;
    align-items: center;
    height: 60px;
}

th {
    color: #050539;
    margin-bottom: 20px;
    font-size: 18px;
}

td {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    border-radius: 8.39px;
    background-color: white;
    padding: 13px;
    color: #050539;
}

.exibirMais input {
    display: none;
}

.exibirMais {
    background-color: transparent;
    width: 30px;
    padding-top: 20px;
}

.data{
    width: 70%;
    margin-left: 30px;
}


.informes {
    width: 1005px;
    height: 170px;
    border-radius: 8.39px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    color: rgba(14, 13, 13, 0.884);
    list-style: none;
    font-size: 15px;
}

#analise {
    color: #2B22A0;
}

#pendente {
    color: #C71313;
}

#concluido {
    color: #33b838;
}

.status {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #2B22A0;
    cursor: pointer;
}



/*rodapé*/
footer {
    background-color: #050539;
    width: 100%;
    height: 10%;
    margin-top: 50px;
    bottom: 0;
    /*position: absolute;*/
}

#elementosRodapé {
    padding: 25px;
    text-align: center;
    color: white;
    font-size: 18px;
}




/* popup sair do login */
.form-popup {
    position: fixed;
    top: 10%;
    right: 0px;
    z-index: 9;
}


.form-container {
    padding: 10px;
    background-color: #050539;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.578);
    height: 160px !important;
    width: 180px !important;

}

.form-container .cancel {
    background-color: #050539;
    float: right;
    border: none;
    color: white;
    cursor: pointer;
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

#fotologin {
    color: white;
    float: left;
    padding-top: 25px;
    padding-left: 10px;
}

#nomeUsuário {
    color: white;
    padding-top: 10px;
    height: 15px;
    width: 100px;
    float: left;
    padding-left: 1px;

}

#sair {
    color: white;
    float: left !important;
    padding-top: 30px;
    padding-left: 3px;
}

#btnSair {
    float: right;
    background-color: transparent;
    border: none;
    color: white;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    padding-left: 15px;
    font-size: 15PX;
}



