body {
    background-color: #EEEDF5;
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
}



/*cabeçalho*/
header {
    background-color: #050539;
    width: 100%;
    height: 10%;
    position: fixed;
}
.localização,
.inicio {
    padding-left: 40px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    float: right;
    padding-top: 22px;
}
#btnLogin {
    float: right;
    padding-left: 40px;
    color: white;
    background-color: #050539;
    border: none;
    text-align: center;
    padding-top: 15px;
    padding-right: 20px;
    cursor: pointer;
}

/*Corpo da página*/


section{
    margin-top: 0px;
    padding-top: 30px;
    
}
#container {
    height: 98px;
    width: 85%;
    background-color: #312E59;
    border-radius:10px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    box-shadow: 0px 5px 5px rgba(48, 48, 48, 0.578);
}
h1{
    padding-left: 3%;
    padding-top: 28px;
    font-size: 36px;
    font-weight: bold
}
#texto{
    color: #312E59;
    margin-left: 7.5%;
    padding-top: 25px;
    font-weight: bold;
}

#seleção{
    align-items: center;
    text-align: center;
    padding: 40px;
}
.btnSelecionado{
    background: #050539;
    color: #ffffff;
    border: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.btnNselecionado{
    background: #DCDBE5;
    color: #050539;
    border: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.btnNselecionado:hover{
    box-shadow: 0px 0px 15px rgba(83, 83, 83, 0.578);
}

#container2{
    height: auto;
    width: 85%;
    background-color: #DCDBE5;
    border-radius: 8.39px;
    margin-left: auto;
    margin-right: auto;
}
table{
    width: 100%;
    font-size: large;
}
tr{
    display: grid;
    grid-template-columns: 2fr 5fr 2fr 1fr;
}
th{
    color: #050539;
    margin-bottom: 15px;
}
td{
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    font-size: large; 
    border-radius: 8.39px;
    background-color: white;
    padding: 10px;
    color: #050539;
}
.exibirMais input{
   display: none;
}
.exibirMais{
    background-color: transparent;
    background-image: url(https://api.iconify.design/bi/play-circle-fill.svg?color=white);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}
.analise{
    color: #2B22A0;
}
.pendente{
    color: #C71313;
}
.concluida{
    color: #33b838;
}

/*rodapé*/
footer {
    background-color: #050539;
    width: 100%;
    height: 10%;
    margin-top: 50px;
}

#elementosRodapé {
    padding: 25px;
    text-align: center;
    color: white;
    font-size: 18px;
}


/*ListadeSerciçosPalmeiras*/
#municípios{
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 10px;
    width: 250px;
    height: 35px;
    padding-left: 10px;
    cursor: pointer;
    background-color: #F8F8F8;
}

.registroCivil, .notas, .protesto, .hipotecas, .jurídicas{
    padding-left: 50px;
    padding-bottom: 25px;
    font-size: 18px;
    line-height: 30px
}


#listaFilha {
    margin-top: 15px;
    background-color: #F8F8F8;
    width: 550px;
    height: 130px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(48, 48, 48, 0.578);
    padding-left: 25px;
    padding-top: 15px;
    color: #050539;
    cursor: default;
    line-height: 22px;
    list-style:none;
    font-size: 16px;
}

#BtIniciarAgen {
    background-color: #37327C;
    float: right;
    margin-right: 10px;
    width: 37%;
    height: 25px;
    text-align: center;
    margin-top: 5px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#BtIniciarAgen:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.578);
}

span {
    font-size: 17px;
    color: #050539;
    cursor: pointer;
    line-height: 30px
}

