body {
    background-color: #EEEDF5;
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
}


/*cabeçalho*/
header {
    background-color: #050539;
    width: 100%;
    height: 10%;
    position: fixed;
}

#localização,
#inicio {
    padding-left: 40px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    float: right;
    padding-top: 22px;
    cursor: pointer;
}

#btnLogin {
    float: right;
    padding-left: 40px;
    color: white;
    background-color: #050539;
    border: none;
    text-align: center;
    padding-top: 15px;
    padding-right: 20px;
    cursor: pointer;
}


/*logo/municípios*/
nav {
    background-color: #050539;
    height: 350px;
    width: 100%;
    padding-top: 100px;
}

#elementosNav {
    height: 200px;
    width: 100%;
}

#logo {
    width: 370px;
    float: left;
    padding-right: 200px;
    padding-left: 80px;
}

#txt {
    color: white;
    font-size: 36px;
    float: left;
    padding-top: 65px;
    font-weight: bold
}

#btnCidades {
    padding-top: 74px;
    text-align: center;
}

.btnNselecionado {
    margin-left: 4.5%;
    margin-right: 4.5%;
    height: 76px;
    width: 14%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    font-size: 26px;
    background-color: #37327C;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.btnSelecionado {
    background: #EEEDF5;
    color: #050539;
    margin-left: 4.5%;
    margin-right: 4.5%;
    height: 76px;
    width: 14%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
}

.btnNselecionado:hover {
    box-shadow: 0px -3px 30px rgba(0, 0, 0, 0.578);
}



/*conatiner serviços*/
#container {
    height: 98px;
    width: 85%;
    background-color: #312E59;
    border-radius: 10px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    box-shadow: 0px 5px 5px rgba(48, 48, 48, 0.578);
}

h1 {
    padding-left: 3%;
    padding-top: 28px;
    font-size: 36px;
    font-weight: bold
}

#valores {
    margin-top: 50px;
    margin-right: 7.5%;
    background-color: #312E59;
    color: white;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
    float: right;
}

#valores:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.578);
}



/*Lista de Serciços*/

#listaFilha {
    margin-top: 15px;
    background-color: #DCDBE5;
    width: 550px;
    height: 115px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(48, 48, 48, 0.578);
    padding-left: 25px;
    padding-top: 20px;
    color: #050539;
    cursor: default;
    line-height: 25px;
    list-style: none;
    font-size: 16px;
}

.BtIniciarAgen {
    background-color: #312E59;
    float: right;
    margin-right: 10px;
    width: 37%;
    height: 25px;
    text-align: center;
    margin-top: 5px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.BtIniciarAgen:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.578);
}

span {
    font-size: 18px;
    color: #050539;
    cursor: pointer;
    line-height: 30px
}

span:hover {
    color: #1206b8;
}

.registroCivil,
.notas,
.protesto,
.hipotecas,
.jurídicas {
    padding-left: 150px;
    padding-top: 40px;
    font-size: x-large;
}

#título:hover {
    color: #050539 !important;
}



/*email/mapa*/
#email_mapa {
    margin-left: 135px;
    margin-top: 60px;
}

#email {
    margin: 20px;
    background-color: #DCDBE5;
    border-radius: 3px;
    box-shadow: 0px 5px 3px rgba(48, 48, 48, 0.578);
    border: none;
    width: 510px;
    height: 36px;
    padding-left: 10px;
}

#mensagem {
    margin: 20px;
    margin-top: 5px;
    background-color: #DCDBE5;
    border: none;
    box-shadow: 0px 5px 3px rgba(48, 48, 48, 0.578);
    padding-left: 10px;
    width: 510px;
    height: 135px;
}

#enviarEmail{
    background-color: #37327C;
    border: none;
    border-radius: 7px;
    height:38.02px ;
    width: 120px;
    color: white;
    font-size: 18px;
    margin-left: 64%;
    cursor: pointer;
}

#mapa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#mapa1 {
    margin-right: 15%;
    margin-top: 30px;
    width: 500px;
    height: 200px;
}


/*rodapé*/
footer {
    background-color: #050539;
    width: 100%;
    height: 10%;
    margin-top: 100px;
}

#elementosRodapé {
    padding: 25px;
    text-align: center;
    color: white;
    font-size: 18px;
}





/* popup login */
.form-popup {
    position: fixed;
    top: 10%;
    right: 0px;
    z-index: 500;
}

#txtLogin {
    padding: 5%;
    font-size: 20px;
    color: white;
    text-align: left;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #050539;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.578);

}

.form-container input[type=text],
.form-container input[type=password] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #C6C5CD;
    border-radius: 5px;
}


.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #312E59;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: auto;
    margin-bottom: 10px;
    opacity: 0.8;
    border-radius: 5px;
}

#btnEntrar {
    margin-left: 180px;
}

.form-container .cancel {
    background-color: #050539;
    float: right;
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}



/* popup registrar */
.popupContainer {
    background-color: #312E59;
    margin: 15% auto;
    padding: 15px;
    border-radius: 20px;
    width: 35%;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'LexendDeca-Regular';
    color: var(--title);

    position: fixed;
    margin-left: 500px;
    margin-top: 170px;
}
.input{
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 1em;
}

.inputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1
}

.inputContainerExtra{
    display: inline-block;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    flex-grow: 1
}

.formRegistrar h2 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    margin-top: 35px;
    margin-left: 42%;
    font-size: 30px;
    font: bold;
    padding: 0px;
}

.formRegistrar h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    margin-top: 15px;
    font-size: 21px;
    font-weight: normal;

}

#closeModalRegistrar {
    margin-right: -20px;
    margin-top: -35px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    float: right;
}

.formRegistrar {
    margin-left: 2em;
    margin-right: 2rem;
}

.formRegistrarTitle {
    position: relative;
    margin-left: 290px;
    padding-top: 15px;
    float: right;
}

#btnRegistrar a {
    color: white;
    text-decoration: none;
    position: relative;
}

#btnRegistrar button {
    background-color: #37327C;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: auto;
    margin-bottom: 10px;
    opacity: 0.8;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

#btnRegistrar button:hover {
    opacity: 1;
}

#cpf, #senha {
    display: block;
    margin-bottom: 20px;
    width: 480px;
    height: 50px;
    border-radius: 5px;
    background-color: #C6C5CD;
    padding-left: 20px;
    border: none;
}

#inputRegistrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.popupRegistrar {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}




/* popup Cadastrar */
.popupCadastrar {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
}

.popupContainerCadastrar {
    background-color: #050539;
    border-radius: 20px;

    align-items: center;
    position: fixed;
    margin-bottom: 100px;

    font-family: 'LexendDeca-Regular';
    color: var(--title);
}

.formCadastrar h2,
h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #ddd;

}
.formCadastrar {
    margin-left: 2em;
    margin-right: 2rem;
    align-items: center;
}

.formCadastrarTitle {
    position: relative;
    margin-left: 290px;
}

#closeModalCadastrar {
    border: none;
    background-color: transparent;
    margin-left: 98%;
    color: white;
    cursor: pointer;
}

#btnCadastrar {
    display: flex;
    margin-top: 10px;
    background-color:transparent;
    color: #ddd;
    width: 40px;
    border: none;

}

#btnCadastrar a {
    color: white;
    text-decoration: none;
    text-align: center;

}

#btnCadastrar button {
    color: #ffffff;
    background-color: #37327C;
    padding: 7px;
    text-align: center;
    font-size: 20px;
    margin-left: 5px;
    border:none;
    border-radius: 5px;
    width: 160px;
}

.inputCad{
    display: block;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    border-radius: 13px;
    border: none;
    padding-left: 10px;
    background-color: #C6C5CD;
}

#nomeCompletoCad{
    width: 470px !important;
}

#cpfCad {
    display: block;
    margin-bottom: 20px;
    width: 400px;
    height: 50px;
    border-radius: 13px;
    border: none;
    margin-left: 50px;
}

#senhaCad {
    display: block;
    margin-bottom: 20px;
    width: 300px;
    height: 50px;
    border-radius: 13px;
    border: none;
}

#telefoneCad{
    width: 470px !important;
}

#senhaConfirmCad{
    margin-left: 30px;
}

.popupCadastrar {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.formCadastrar h3, .popupContainer h3 {
    font-size: 21px;
}

.formCadastrar h2, .popup-title {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.btnCadastrar button::after {
    background-color: #312E59;
}

#emailCad{
    display: block;
    margin-bottom: 20px;
    width: 47%;
    height: 50px;
    border-radius: 5px;
    background-color: #C6C5CD;
    border: none;
    float: left;
}

#cpfCad{
    display: block;
    margin-bottom: 20px;
    width: 47%;
    height: 50px;
    border-radius: 5px;
    background-color: #C6C5CD;
    border: none;
    float: right;
}

#nomeCompletoCad, #telefoneCad {
    display: block;
    margin-bottom: 20px;
    width: 99.5%;
    height: 50px;
    border-radius: 5px;
    background-color: #C6C5CD;
    border: none;
}

#senhaCad{
    display: block;
    margin-bottom: 20px;
    width: 47%;
    height: 50px;
    border-radius: 5px;
    background-color: #C6C5CD;
    border: none;
    float: left;
}

#senhaConfirmCad{
    display: block;
    margin-bottom: 20px;
    width: 47%;
    height: 50px;
    border-radius: 5px;
    background-color: #C6C5CD;
    border: none;
    float: right;
}