body {
    background-color: #EEEDF5;
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
}

.setaAtiva {
    transform: rotate(90deg);
}

.setaNativa {
    transform: rotate(0deg);
}


/*cabeçalho*/
header {
    background-color: #050539;
    width: 100%;
    height: 10%;
    position: fixed;
}

#localização,
#inicio {
    padding-left: 40px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    float: right;
    padding-top: 22px;
}

#btnLogin {
    float: right;
    padding-left: 40px;
    color: white;
    background-color: #050539;
    border: none;
    text-align: center;
    padding-top: 15px;
    padding-right: 20px;
    cursor: pointer;
}


/*logo/municípios*/
nav {
    background-color: #050539;
    height: 350px;
    width: 100%;
    padding-top: 100px;
}

#elementosNav {
    height: 200px;
    width: 100%;
}

#logo {
    width: 370px;
    float: left;
    padding-right: 200px;
    padding-left: 80px;
}

#txt {
    color: white;
    font-size: 36px;
    float: left;
    padding-top: 65px;
    font-weight: bold
}

#btnCidades {
    padding-top: 74px;
    text-align: center;
}

.btnNselecionado {
    margin-left: 4.5%;
    margin-right: 4.5%;
    height: 76px;
    width: 14%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    font-size: 26px;
    background-color: #37327C;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.btnSelecionado {
    background: #EEEDF5;
    color: #050539;
    margin-left: 4.5%;
    margin-right: 4.5%;
    height: 76px;
    width: 14%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
}


#bta {
    background: #050530;
    color: #050539;
    margin-left: 4.5%;
    margin-right: 4.5%;
    height: 76px;
    width: 14%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: #000000;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
}

#bta:hover {
    box-shadow: 0px -3px 30px rgba(0, 0, 0, 0.578);
    cursor: pointer;
}

.btnNselecionado:hover {
    box-shadow: 0px -3px 30px rgba(0, 0, 0, 0.578);
}


/*conatiner serviços*/
#container {
    height: 98px;
    width: 85%;
    background-color: #312E59;
    border-radius: 10px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    box-shadow: 0px 5px 5px rgba(48, 48, 48, 0.578);
}

h1 {
    padding-left: 3%;
    padding-top: 28px;
    font-size: 36px;
    font-weight: bold
}

#valores{
    margin-top: 50px;
    margin-right: 115px;
    background-color: #312E59;
    color: white;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
    float: right;
}

#valores:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.578);
}



/*ListadeSerciçosPalmeiras*/

#listaFilha {
    margin-top: 15px;
    background-color: #DCDBE5;
    width: 550px;
    height: 115px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(48, 48, 48, 0.578);
    padding-left: 25px;
    padding-top: 20px;
    color: #050539;
    cursor: default;
    line-height: 25px;
    list-style: none;
    font-size: 16px;
}

#BtIniciarAgen {
    background-color: #312E59;
    float: right;
    margin-right: 10px;
    width: 37%;
    height: 25px;
    text-align: center;
    margin-top: 5px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#BtIniciarAgen:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.578);
}

span {
    font-size: 18px;
    color: #050539;
    cursor: pointer;
    line-height: 30px
}

span:hover{
    color:#1206b8;
}

.registroCivil,
.notas,
.protesto,
.hipotecas,
.jurídicas {
    padding-left: 150px;
    padding-top: 40px;
    font-size: x-large;
}

#título:hover{
    color: #050539 !important;
}

/*email*/

#email_mapa{
    margin-left: 135px;
    margin-top: 60px;
}

#email{
    margin: 20px;
    background-color: #DCDBE5;
    border-radius: 3px;
    box-shadow: 0px 5px 3px rgba(48, 48, 48, 0.578);
    border: none;
    width: 510px;
    height: 36px;
    padding-left: 10px;
}

#mensagem{
    margin: 20px;
    margin-top: 5px;
    background-color: #DCDBE5;
    border: none;
    box-shadow: 0px 5px 3px rgba(48, 48, 48, 0.578);
    padding-left: 10px;
    width: 510px;
    height: 135px;
}



/*rodapé*/
footer {
    background-color: #050539;
    width: 100%;
    height: 10%;
    margin-top: 200px;
}

#elementosRodapé {
    padding: 25px;
    text-align: center;
    color: white;
    font-size: 18px;
}





/* popup login */
.form-popup {
    position: fixed;
    top: 10%;
    right: 0px;
    z-index: 9;
}

#txtLogin {
    padding: 5%;
    font-size: 20px;
    color: white;
    text-align: left;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #050539;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.578);

}

.form-container input[type=text],
.form-container input[type=password] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #C6C5CD;
    border-radius: 5px;
}


.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #312E59;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 30%;
    margin-bottom: 10px;
    opacity: 0.8;
    border-radius: 5px;
}

#btnEntrar {
    margin-left: 180px;
}

.form-container .cancel {
    background-color: #050539;
    float: right;
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}