body {
    background-color: #EEEDF5;
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
}


/*cabeçalho*/
header {
    background-color: #050539;
    width: 100%;
    height: 10%;
    position: fixed;
}
.localização,
.inicio {
    padding-left: 40px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    float: right;
    padding-top: 22px;
}
#btnLogin {
    float: right;
    padding-left: 40px;
    color: white;
    background-color: #050539;
    border: none;
    text-align: center;
    padding-top: 15px;
    padding-right: 20px;
    cursor: pointer;
}


/*logo/municípios*/
nav {
    background-color: #050539;
    height: 350px;
    width: 100%;
    padding-top: 100px;
}
#elementosNav {
    height: 200px;
    width: 100%;
}
#logo {
    width: 370px;
    float: left;
    padding-right: 200px;
    padding-left: 80px;
}
#txt {
    color: white;
    font-size: 36px;
    float: left;
    padding-top: 65px;
    font-weight: bold
}
#btnCidades {
    padding-top: 74px;
    text-align: center;
}
#btnNselecionado {
    margin-left: 4.5%;
    margin-right: 4.5%;
    height: 76px;
    width: 14%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    font-size: 26px;
    background-color: #37327C;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}
#btnSelecionado {
    background: #EEEDF5;
    color: #050539;
    margin-left: 4.5%;
    margin-right: 4.5%;
    height: 76px;
    width: 14%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
}
#btnNselecionado:hover {
    box-shadow: 0px -3px 30px rgba(0, 0, 0, 0.578);
}


/*conatiner serviços*/
#container {
    height: 98px;
    width: 85%;
    background-color: #312E59;
    border-radius: 10px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    box-shadow: 0px 5px 5px rgba(48, 48, 48, 0.578);
}
h1 {
    padding-left: 3%;
    padding-top: 28px;
    font-size: 36px;
    font-weight: bold
}



/*ListadeSerciçosPalmeiras*/
.lista * {
    list-style-type: none;
}
.lista li:hover {
    cursor: pointer;
}
.lista li a {
    color: rgb(252, 252, 252);
    text-decoration: solid;
    font-size: 16px;
    border-radius: 7px;
    padding-top: 6px;
}
.lista ul {
    padding-left: 25px;
}
ul.lista,
.lista li {
    padding-left: 0px;
    padding-top: 5px;
}
ul.lista,
ul.lista ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.lista ul {
    margin-left: 10px;
}
ul.lista li:last-child {
    border-left: none;
}
ul.lista li:last-child:before {
    border-left: 1px solid rgb(100, 100, 100);
}
#listaFilha {
    margin-top: 15px;
    background-color: #DCDBE5;
    width: 550px;
    height: 130px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(48, 48, 48, 0.578);
    padding-left: 25px;
    padding-top: 20px;
    color: #050539;
    cursor: default;
    line-height: 22px;
}
#BtIniciarAgen {
    background-color: #37327C;
    float: right;
    margin-right: 10px;
    width: 37%;
    height: 25px;
    text-align: center;
    margin-top: 5px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#BtIniciarAgen:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.578);
}
#listaPai {
    padding-left: 8%;
    padding-top: 2%;
    width: 60%;
    cursor: default;
}
span {
    font-size: 18px;
    color: #050539;
    cursor: pointer;
    line-height: 30px
}

#aoLado{
    float: right;
}



/*rodapé*/
footer {
    background-color: #050539;
    width: 100%;
    height: 10%;
    margin-top: 200px;
}

#elementosRodapé {
    padding: 25px;
    text-align: center;
    color: white;
    font-size: 18px;
}





/* popup login */
.form-popup {
    position: fixed;
    top: 10%;
    right: 0px;
    z-index: 9;
}

#txtLogin {
    padding: 5%;
    font-size: 20px;
    color: white;
    text-align: left;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #050539;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.578);
    background-blend-mode
}

.form-container input[type=text],
.form-container input[type=password] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #C6C5CD;
    border-radius: 5px;
}

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #37327C;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 30%;
    margin-bottom: 10px;
    opacity: 0.8;
    border-radius: 5px;
}

#btnEntrar{
    margin-left: 180px;
}

.form-container .cancel {
    background-color: #050539;
    float: right;
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}



